<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue-grey darken-1">
            <!-- sidenav trigger button i.e hamburger button -->
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-up"><i class="material-icons">menu</i></a>
            <div class="container">
                <a routerLink="/" class="brand-logo">{{ title }}</a>
            </div>
        </div>
    </nav>
</div>
<!-- Sidenav content -->
<ul id="slide-out" class="sidenav blue-grey darken-1">
    <!-- General links -->
    <div class="section">
        <li><a href="#" class="white-text">About</a></li>
        <li><a href="#" class="white-text">Highcharts</a></li>
        <li><div class="divider"></div></li> 
    </div>

    <!-- chart links -->
    <div class="section">
        <li><a class="subheader white-text"><h5>Charts</h5></a></li>
    
        <li routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
            <a href="#" class="white-text">Pie Chart</a>
        </li>
        <li  routerLinkActive="active" >
            <a class="white-text" routerLink="/line-chart">Line Chart</a>
        </li>
        <li routerLinkActive="active">
            <a href="#" class="white-text">Area Chart</a>
        </li>
        <li routerLinkActive="active">
            <a href="#" class="white-text">Column and Bar Chart</a>
        </li>
        <li routerLinkActive="active">
            <a href="#" class="white-text">Scatter and Bubble Chart</a>
        </li>
    </div>
</ul>
