highcharts-chart {
    width: 100%;
    display: block;
}

button {
    margin: 0 1em 1em 0;
}

/**/
.modal .input-field #percentage::-webkit-inner-spin-button, 
#percentage::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
